<div class="container-fluid app-body">
  <div class="row">
    <div id="leftlist" *ngIf="show_list">
      <!-- Articlelist component -->
      <div class="title" *ngIf='show_list'>Just {{target_words}} words
        <button type="button" class="btn btn-small btn-link btn-sm" (click)='show_options(configPopup)'
                placement="bottom" ngbTooltip="Options">
          <span class="oi oi-menu"></span>
        </button>
      </div>
      <!-- <div>
         {{app_version}}
      </div> -->
      <div class="form-group text-center" *ngIf='current_article'>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text search-prefix" id="btnGroupAddon">
              <small class="oi oi-magnifying-glass"></small>
            </div>
          </div>
          <input type="text"
            class="form-control"
            id="search-box"
            [(ngModel)]="search_term"
            (keyup)="search_article_from_search($event)"
            placeholder="Search articles">
        </div>
      </div>
      <div class="list-group" id="article-list-container" #articleList [style.height.px]="listHeight">
        <span class="list-group-item list-group-item-action flex-column align-items-start" *ngIf='!articles'>
          It appears that you do not have any articles/contents yet.
          <br>
          Click on 'New' Button or Start Typing the title and Hit ENTER to start a new article.
          <hr>
          <strong class="text-center"> You will see a list of your old articles here.</strong>
        </span>

        <span *ngFor="let article of filtered_articles; let i=index">
          <span class="list-group-item list-group-item-action flex-column align-items-start"
                (click)="select_article(article)"
                *ngIf='article.title || article.summary'
                [class.active]="((i==0 && select_first_article) || (article==current_article))"
                style="cursor: pointer;">
            <!-- <button type="button" class="btn btn-link btn-sm btn-delete-article">
              <span class="oi oi-circle-x"></span>
            </button> -->
              <div class="d-flex w-100 justify-content-between">
                <h5 class="article-list-title">{{article.title}}</h5>
              </div>
              <div *ngIf='(article.summary)'>{{article.summary}}</div>
              <div class="text-right">
                <small class=" badge badge-warning">
                  <span class="oi oi-clock"></span> {{article.date_updated | timeAgo}}
                </small>
                <span class="badge badge-info">
                  <span class="oi oi-tags"></span> {{article.content| wordCount}}</span>
              </div>
          </span>
        </span>
      </div>
    </div>
    <!-- Article details component  -->
    <div class="col-sm right-content" [style.background]="editor_bg" [style.color]="editor_text_color">
      <div class="row info-row" [class.celebrate]="celebrate">
        <div class="col-sm text-right">
          <!-- <app-writing-streak [show_list]='show_list'></app-writing-streak> -->
          <button type="button" class="btn btn-dark btn-sm float-left btn-article-list"
                  [innerHTML]="show_list_label"
                  (click)="toggle_list()"></button>
          <!-- &nbsp;&nbsp;<div class="title" *ngIf='!show_list' style="float:left;">Just 50 Words</div> -->
          <app-word-count
            [article_title]="current_article ? current_article.title : ''"
            [article_content]="current_article ? current_article.content : ''"
            [article]="current_article ? current_article : null">
          </app-word-count>
          <app-writing-timer></app-writing-timer>
          <button
            type="button"
            class="btn btn-sm"
            *ngIf="write_or_nuke_show_button"
            [class.btn-danger]='write_or_nuke_mode'
            (click)='toggle_write_or_nuke()'
            placement="left" ngbTooltip="Toggle 'Write or Nuke' mode">
            <span class="oi oi-fire"></span>
          </button>
          <button type="button" class="btn btn-dark btn-sm" (click)="new_article_button_click()"
                  placement="left" ngbTooltip="Create a new article">
            <span class="oi oi-plus"></span>
          </button>
          <button type="button"
                  class="btn btn-warning btn-sm"
                  *ngIf="current_article.content || current_article.title"
                  (click)="delete_article()"
                  placement="left" ngbTooltip="Delete this article">
            <span class="oi oi-trash"></span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <input type="text"
                 id="headline"
                 spellcheck="true"
                 [style.maxWidth.px]="editorMaxWidth"
                 [style.color]="editor_text_color"
                 autofocus
                 [class]='headline_font'
                 placeholder="What do you want to write about?"
                 [(ngModel)]="current_article.title"
                 (keyup)="key_pressed_headline($event)"
                 (ngModelChange)="search_article_from_title($event)"
                 (focus)="focus_set()">
        </div>
      </div>
      <div>
        <div class="form-group">
          <app-editor
            [height]="editorHeight"
            [target_words]="target_words"
            (keyup)="key_pressed_textarea($event)"
            (ngModelChange)="key_pressed_textarea($event)"
            (nuked)="nuke_content()"
            [word_count]="word_count"
            (editor_object_created)="create_editor_object($event)"
            [(content)]="this.current_article.content">
          </app-editor>
          <app-message></app-message>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Configure Popup -->
<ng-template #configPopup let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title title">Just 50 Words</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <p style="font-size:11px;">Your donations not only help me and my family, it also motivates me to keep improving Just 50 Words with new features and provide faster support.</p>
      <button class="btn btn-sm btn-primary btn-block"  (click)="open_url($event, 'https://www.paypal.me/quadralyst')">Securely donate using Paypal</button>
      <p style="font-size:11px; text-align:center;">PS: Your donation will be processed by Quadralyst Pvt Ltd.</p>
    </div>
    <hr>
    <li>Get Source Code: <a href="#" (click)="open_url($event, 'http://github.com')">Visit GitHub repository</a></li>
    <li>Need Help? <a href="#" (click)="open_url($event,'http://google.com')">View latest #readme</a></li>
    <li>Facing an Issue? <a href="#" (click)="open_url($event,'http://google.com')">Visit issue tracker </a></li>
    <li>Need a new feature? <a href="#" (click)="open_url($event,'http://google.com')">Visit feature tracker </a></li>
    <li>Get in touch with me <a href="#" (click)="open_url($event,'mailto:gunjan@kalptaru.in')">Email: gunjan@kalptaru.in </a></li>
    <li>Config file location <a href="#" (click)="open_folder($event,config_file)">{{config_file}} </a></li>
  </div>
  <div class="modal-footer">
    <div class='col-sm-10'> &nbsp; &nbsp; &nbsp; &nbsp;App version: {{app_version}}</div>
    <div class="col-sm align-right"><button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button></div>
    
  </div>
</ng-template>
