<div class="container-fluid app-body">
  <div class="row">
    <div id="leftlist" *ngIf="show_list">
      <!-- Articlelist component -->
      <div class="title" *ngIf='show_list'>Just {{target_words}} words
        <div class="input-group-append option-menu">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-small btn-sm btn-link" id="btnOptions" ngbDropdownToggle>
              <span class="oi oi-menu"></span>
            </button>
            <div ngbDropdownMenu aria-labelledby="btnOptions">
              <button class="dropdown-item" (click)='show_config()'>
                <!-- <span class="oi oi-cog"></span>  -->
                Configurations
              </button>
              <button class="dropdown-item" (click)='show_options()'> 
                <!-- <span class="oi oi-info"></span>  -->
                Help and Updates
              </button>
              <!-- <button class="dropdown-item">Something else is here</button> -->
            </div>
          </div>
        </div>
      </div>
      <!-- <div>
         {{app_version}}
      </div> -->
      <div class="form-group text-center" *ngIf='current_article'>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text search-prefix" id="btnGroupAddon">
              <small class="oi oi-magnifying-glass"></small>
            </div>
          </div>
          <input type="text"
            class="form-control"
            id="search-box"
            [(ngModel)]="search_term"
            (keyup)="search_article_from_search($event)"
            placeholder="Search articles">
        </div>
      </div>
      <div class="list-group" id="article-list-container" #articleList [style.height.px]="listHeight">
        <span class="list-group-item list-group-item-action flex-column align-items-start" *ngIf='!articles'>
          It appears that you do not have any articles/contents yet.
          <br>
          Click on 'New' Button or Start Typing the title and Hit ENTER to start a new article.
          <hr>
          <strong class="text-center"> You will see a list of your old articles here.</strong>
        </span>

        <span *ngFor="let article of filtered_articles; let i=index">
          <span class="list-group-item list-group-item-action flex-column align-items-start"
                (click)="select_article(article)"
                *ngIf='article.title || article.summary'
                [class.active]="((i==0 && select_first_article) || (article==current_article))"
                style="cursor: pointer;">
            <!-- <button type="button" class="btn btn-link btn-sm btn-delete-article">
              <span class="oi oi-circle-x"></span>
            </button> -->
              <div class="d-flex w-100 justify-content-between">
                <h5 class="article-list-title">{{article.title}}</h5>
              </div>
              <div *ngIf='(article.summary)'>{{article.summary}}</div>
              <div class="text-right">
                <small class=" badge badge-warning">
                  <span class="oi oi-clock"></span> {{article.date_updated | timeAgo}}
                </small>
                <span class="badge badge-info">
                  <span class="oi oi-tags"></span> {{article.content| wordCount}}</span>
              </div>
          </span>
        </span>
      </div>
    </div>
    <!-- Article details component  -->
    <div class="col-sm right-content" [style.background]="editor_bg" [style.color]="editor_text_color">
      <div class="row info-row" [class.celebrate]="celebrate">
        <div class="col-sm text-right">
          <!-- <app-writing-streak [show_list]='show_list'></app-writing-streak> -->
          <button type="button" class="btn btn-dark btn-sm float-left btn-article-list"
                  [innerHTML]="show_list_label"
                  (click)="toggle_list()"></button>
          <!-- &nbsp;&nbsp;<div class="title" *ngIf='!show_list' style="float:left;">Just 50 Words</div> -->
          <app-word-count
            [article_title]="current_article ? current_article.title : ''"
            [article_content]="current_article ? current_article.content : ''"
            [article]="current_article ? current_article : null">
          </app-word-count>
          <app-writing-timer></app-writing-timer>
          <button
            type="button"
            class="btn btn-sm"
            *ngIf="write_or_nuke_show_button"
            [class.btn-danger]='write_or_nuke_mode'
            (click)='toggle_write_or_nuke()'
            placement="left" ngbTooltip="Toggle 'Write or Nuke' mode">
            <span class="oi oi-fire"></span>
          </button>
          <button type="button" class="btn btn-dark btn-sm" (click)="new_article_button_click()"
                  placement="left" ngbTooltip="Create a new article">
            <span class="oi oi-plus"></span>
          </button>
          <button type="button"
                  class="btn btn-warning btn-sm"
                  *ngIf="current_article && (current_article.content || current_article.title)"
                  (click)="delete_article()"
                  placement="left" ngbTooltip="Delete this article">
            <span class="oi oi-trash"></span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="input-group mb-3">
            <input type="text"
                 id="headline"
                 spellcheck="true"
                 [style.maxWidth.px]="editorMaxWidth"
                 [style.color]="editor_text_color"
                 autofocus
                 [class]='headline_font'
                 (ngModelChange)="update_font_class()"
                 placeholder="What do you want to write about?"
                 [(ngModel)]="current_article.title"
                 (keyup)="key_pressed_headline($event)"
                 (focus)="focus_set()">
            <div class="input-group-append" *ngIf="current_article.title===''">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-dark" id="writingWizards" ngbDropdownToggle><span class="oi oi-lightbulb"></span></button>
                <div ngbDropdownMenu aria-labelledby="writingWizards">
                  <button class="dropdown-item" (click)='show_writing_prompt()'>Get writing prompts</button>
                  <!-- <button class="dropdown-item">Another Action</button>
                  <button class="dropdown-item">Something else is here</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="form-group">
          <app-editor
            [height]="editorHeight"
            [target_words]="target_words"
            (keyup)="key_pressed_textarea($event)"
            (ngModelChange)="key_pressed_textarea($event)"
            (nuked)="nuke_content()"
            [word_count]="word_count"
            [article]="current_article"
            (editor_object_created)="create_editor_object($event)"
            [(content)]="current_article.content">
          </app-editor>
          <app-message></app-message>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Update Popup -->
<ng-template #updatePopup let-c="close" let-d="dismiss">
  <div class="modal-body update-modal">
    <strong>{{update_data.title}}</strong>
    <div [innerHTML]="update_data.msg"></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-sm btn-primary" (click)="open_url($event, update_data.release_url);c();">Download</button>
    <button type="button" class="btn btn-sm btn-outline-dark" (click)="c()">Close</button>
  </div>
</ng-template>

<!-- Config Popup -->
<ng-template #configPopup let-c="close" let-d="dismiss">
  <div class="modal-body config-body">
    <!-- <div class="row">
      <h2 class="config-title">Welcome to Just 50 Words</h2>
    </div> -->
    <div class="row">
      <div class="col-sm">
        <strong>Quick tutorial</strong>
        <br />
        <div class="row config-item">
          <div class="col-sm tutorial-vid" (click)="open_youtube_tutorial($event)">
            <figure class="figure">
              <img src="assets/images/youtube.png" class="figure-img img-fluid rounded" alt="Tutorial video">
              <figcaption class="figure-caption">Checkout tutorials on Youtube</figcaption>
            </figure>
          </div>
        </div>
        <div class="row config-item">
          <div class="col-sm config-donations">
            <strong>Did I help you write today?</strong>
            <p style="font-size:11px;">If you find this software useful and want to help me, you can donate. It shows your appreciation and also motivates me to add new features and bug fixes.</p>
            <button class="btn btn-sm btn-primary btn-block" (click)="open_url($event, 'https://www.paypal.me/quadralyst')">Securely donate using Paypal</button>
            <p>&nbsp;</p>
            <!-- <p style="font-size:11px; text-align:center;">PS: Your donation will be processed by Quadralyst Pvt Ltd.</p> -->
          </div>
        </div>
        <div class="row config-item">
          <div class="col-sm">
            <strong>App Version: {{app_version}}</strong><br />
            <app-update class="config-update"></app-update>
          </div>
        </div>
      </div>
      <div class="col-sm config-links">
        <strong>Useful links</strong>
        <li>Need Help?<br />
          <a href="#" (click)="open_url($event,'https://just50words.com')">Visit website</a>
          <br>
        </li>
        <li>Facing an Issue?<br />
          <a href="#" (click)="open_url($event,'https://github.com/gunjankarun/just50words/issues')">Visit issue tracker </a>
          <br>
        </li>
        <li>Need a new feature?<br />
          <a href="#" (click)="open_url($event,'https://github.com/gunjankarun/just50words/issues/new?title=[Feature+Request]:')">Visit feature tracker </a>
          <br>
        </li>
        <li>Get Source Code:
          <br />
          <a href="#" (click)="open_url($event, 'https://github.com/gunjankarun/just50words')">Visit GitHub repository</a>
          <br>
        </li>
        <li>Config file location:<br />
          <a href="#" (click)="open_folder($event,config_file)">Open config folder</a>
          <!-- <a href="#" (click)="open_folder($event,config_file)">{{config_file}}</a> -->
          <br>
        </li>
        <li>
          <strong>Get in touch with me.</strong>
          <br />
          <i>I'd love to hear from you</i>
          <br />
          <a href="#" (click)="open_url($event,'mailto:gunjan@kalptaru.in')">gunjan@kalptaru.in </a>
          <br>
        </li>
      </div>
    </div>

  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-outline-secondary mr-auto" (click)="open_url($event, 'https://www.linkedin.com/in/gunjankarun')">About me</button>
      <button type="button" class="btn btn-sm btn-outline-primary" (click)="backup_articles()">Backup Articles</button>  
      <button type="button" class="btn btn-sm btn-outline-dark" (click)="c('Close click')">Close</button>  
  </div>
</ng-template>
