<div class="container-fluid app-body">
  <div class="row">
    <div id="leftlist" *ngIf="show_list">
      <!-- Articlelist component -->
      <!-- <div class="form-group text-center">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text search-prefix" id="btnGroupAddon">
              <small class="oi oi-magnifying-glass"></small>
            </div>
          </div>
          <input 
            type="text" 
            class="form-control" 
            id="search-box" 
            placeholder="Search articles"
            [(ngModel)]="search_term"
          >
        </div>
      </div> -->
      <div class="title" *ngIf='show_list'>Just {{configService.target_words}} words</div>
      <div class="list-group" id="article-list-container" [style.height.px]="listHeight">
        <span *ngFor="let article of articleService.filtered_articles; let i=index">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" 
            (click)="select_article(article)"
            *ngIf='article.title || article.summary'
            [class.active]="((i==0 && select_first_article) || (article==current_article))"
            >
              <div class="d-flex w-100 justify-content-between">
                <h5 class="article-list-title">{{article.title}}</h5>
              </div>
              <div *ngIf='(article.summary)'>{{article.summary}}</div>
              <div class="text-right" >
                <small class=" badge badge-warning">
                  <span class="oi oi-clock"></span> {{article.date_added | timeAgo}}</small>
                <span class="badge badge-info">
                  <span class="oi oi-tags"></span> {{article.content| wordCount}}</span>
              </div>
          </a>
        </span>
      </div>
    </div>
    <!-- Article details component  -->
    <div class="col-sm right-content">
      <div class="row info-row" [class.celebrate]="celebrate">
        <div class="col-sm text-right">
          
          <button type="button" class="btn btn-dark btn-sm float-left btn-article-list" 
            [innerHTML]="show_list_label"
            (click)="toggle_list()"
            >  </button>
            <!-- &nbsp;&nbsp;<div class="title" *ngIf='!show_list' style="float:left;">Just 50 Words</div> -->
          <app-word-count 
            [article_title]="articleService.current_article ? articleService.current_article.title : ''"
            [article_content]="articleService.current_article ? articleService.current_article.content : ''"
            [article]="current_article ? current_article : null"
          ></app-word-count>
          <app-writing-timer></app-writing-timer>
          <!-- <button type="button" class="btn btn-primary btn-sm">
            <span class="oi oi-pencil"></span> Edit </button> -->
          <button type="button" class="btn btn-dark btn-sm" (click)="new_article_button_click()">
            <span class="oi oi-plus"></span> New 
          </button>
          <button type="button" class="btn btn-small btn-link btn-sm">
            <span class="oi oi-menu"></span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <input type="text" 
            class="form-control" 
            id="headline" 
            spellcheck="true" 
            autofocus
            [placeholder]="headline_placeholder"
            [(ngModel)]="current_article.title"
            (keyup)="key_pressed_headline($event)"
            (ngModelChange)="search_article($event)"
            (focus)="focus_set()"
          >
        </div>
      </div>
      <div>
        <div class="form-group">
          <textarea 
          class="form-control" 
          id="editor" 
          spellcheck="true" 
          [style.height.px]="editorHeight"
          [(ngModel)]="current_article.content"
          (keyup)="key_pressed_textarea($event)"
          placeholder="Hit Enter to continue writing this article&#10;Press SHIFT + Enter to edit the selected article on the left&#10;&#10;Remember, you just have to write {{configService.target_words}} words to maintain your streak.&#10;&#10;You are awesome !!!"></textarea>
          <app-message></app-message>
        </div>
      </div>
    </div>
  </div>
</div>
