.no-right-padding{
    padding-right:0px !important;
}

.no-left-padding{
    padding-left: 0px !important;
}

/* Reset blue outline */

*:focus,*:active, .form-control:focus {
   outline: 0px !important;
   box-shadow: none;
   -webkit-appearance:none;
} 

input[type="radio"]{
    -webkit-appearance: radio;
}

.form-control{
    font-size:14px;
}

.form-group{
    margin-bottom: 5px;
}

@media (min-width: 576px){
    .modal-dialog {
        /* max-width: 500px; */
        max-width: 800px;
    }
}