<a href="#"  [ngbPopover]="updatePopup" triggers="manual" #p="ngbPopover" (click)="show_new_version_info($event)">{{version_str}}</a>

<!-- update Popup -->
<ng-template #updatePopup>
    <div>
        <strong>{{update_data.title}}</strong>
        <div [innerHTML]="update_data.msg"></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn-sm btn-primary" (click)="open_url($event, version_url)">Download</button>
        <button type="button" class="btn-sm btn-outline-dark" (click)="p.close()">Dismiss</button>
    </div>
</ng-template>